.wrap{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

.main{
    width: 450px;
    height: 500px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.main input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.main button{
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.main button:hover{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.main h1{
    color: white;
    text-align: center;
    margin-bottom: 100px;
}